body{
    margin: 0;
    font-family: 'Roboto','Abhaya-libre', Arial, Helvetica, sans-serif;
    background-color: #EDECEC;
}

header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    top: 0;
    height: 100px;
    left: 0;
    right: 0;
    background-color: white;
    padding-right: 150px;
    z-index: 99;
}

header h1{
    align-items: center;
    margin-left: 100px;
    margin-top: 10px;
}

header .flight-icon{
    width: 30px;
}

header .navigator{
    display: grid;
    grid-template-columns: 510px 270px 120px;
    text-align: center;
}

header .navbar{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    font-family: 'abhaya-libre','Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 22.61px;
    color: #212832;
}

header .navbar div{
    text-align: center;
    line-height: 26.68px;
    margin: auto;
}

header .login-signup{
    display: grid;
    grid-template-columns: 120px 140px;
    gap: 10px;
    font-family: 'abhaya-libre','Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 22.61px;
    color: #212832;
    line-height: 26.68px;

}

header .login-signup .log{
    margin: auto;
}

header .login-signup .sign{
    border: 1px solid #212832;
    padding: 12px 30px;
    margin: 0;
    border-radius: 6.65px;
}

header select{
    color: #212832;
    border: none;
    font-size: 22.61px;
    line-height: 26.68px;
    margin-left: 55px;
    z-index: 1;
}

main .first{
    width: 100%;
    margin-top: 100px;
    height: calc(80vh - 100px);
    background-color: #f2f2f2;
    background-image: url(./images/background.jpg);
    background-position: 0px 0px 0px;
}

main .first .first-section{
    background-image: linear-gradient(to top, rgb(237, 236, 236) 1%,rgba(237, 236, 236, 0) 15%);
    height: calc(80vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .first .first-section .top{
    width: 100%;
    margin: 0;
    text-align: center;
}

main .first .first-section .top h2{
    color: #FFC46B;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 40.5px;
    margin: 0;
}

main .first .first-section .top h1{
    line-height: 104.8725px;
    font-size: 96px;
    font-weight: 400;
    font-family: 'Alatsi', Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    margin: 0;
    box-shadow: -3px 3px 0px 0px #204E0A8C;

}

main .first .interact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .first .interact button{
    background-color: #FFC107;
    border: none;
    border-radius: 13.3px;
    font-size: 30px;
    line-height: 38.4px;
    text-align: center;
    padding: 27px 45px;
    color: #FFFFFF;
    box-shadow: 0px 4px 130px 0px #FFC10738;
}

main .first .interact button img{
    width: 15px;
    height: 22.5px;
}

main .first .interact .searchbar{
    margin-left: 30px;
    border: none;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 40px;
    background-image: linear-gradient(to top,rgba(0, 117, 255, 0.8) 1%,rgba(111, 139, 240, 0.8) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    box-shadow: 0px 9px 54px 0px #5D83E5;

}

main .first .interact .searchbar input[type="search"]{
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 27px 45px;
    outline: none;
    width: 400px;
}

main .first .interact .searchbar .searchbtn{
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    margin-top: 10px;
    margin-right: 40px;
}

main .first .interact .searchbar .searchbtn img{
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 50%;
}

main .first .interact input::placeholder{
    color: #FFFFFF;
}

main .first .interact input{
    border: none;
}

main .second{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EDECEC;
}

main .second .first-section{
    background-image: linear-gradient(to top,#2CBAE1,#00B3E5);
    width: 560.25px;
    height: 123px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin-bottom: 30px;
}

main .second .first-section .nav{
    color: #FFFFFF;
    text-align: center;
    width: 159px;
    height: 104px;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main .second .first-section .active{
    background-color: #FFFFFF;
}

main .second .first-section .active h6{
    color: #029BC5;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

main .second .first-section .nav img{
    height: 63px;
}

main .second .first-section .nav h6{
    margin: 0px;
    font-weight: 700;
    line-height: 19.5px;
    font-size: 18px;
}

main .second .second-section{
    width: 100%;
    text-align: center;
    margin: 30px 0 30px 0;
}

main .second .second-section h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    margin: 0;
}

main .second .second-section h2{
    color: #474747;
    font-family: "Inder" ,Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 33.75px;
    margin: 0;
}

main .second .third-section{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content:space-around;
    margin: 30px 0 30px 0;
}

main .second .third-section .container-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    justify-content: space-between;

}

main .second .third-section .slider button{
    width: 60px;
    height: 66px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 12px;
}

main .second .third-section .container-box .container{
    width: 348.75px;
    border-radius: 31px;
    box-shadow: 0px 4px 28px 0px #00000014;
}

main .second .third-section .container-box .container .img{
    width: 348.75px;
    height: 391.5px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 0;
}

main .second .third-section .container-box .container .content{
    margin-top: -31px;
    position: relative;
    padding: 20px;
    height: 203.25px;
    background-color: #FFFFFF;
    border-radius: 31px;
    z-index: 1;
    box-shadow: 0px -11px 14px -5px #00000047;
}

main .second .third-section .container-box .container .content h3{
    font-family: "Archivo Black", Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 39px;
    margin: 10px 0 20px 0;

}

main .second .third-section .container-box .container .content p{
    font-size: 15px;
    font-weight: 400;
    line-height: 18.75px;
    font-family: "Inder", Arial, Helvetica, sans-serif;
    margin: 10px 0 0 0;
    color: #474747;
}

main .second .third-section .container-box .container .content .bot{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .second .third-section .container-box .container .content .bot button{
    background-image: linear-gradient(to top, #5FB5CD, #029BC5);
    color: #FFFFFF;
    border: none;
    border-radius: 9px;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22.5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

main .second .third-section .container-box .container .content .bot h6{
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 22.5px;
    color: #000000C7;
}

main .second .third-section .container-box .container .content .bot h6 span{
    font-size: 9.75px;
    font-weight: 300;
    line-height: 12px;
    color: #00000099;
}

main .third-forth{
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 150px;
}

main .third-forth .third{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .third-forth .third h2{
    font-family: Lexend;
    font-size: 64px;
    font-weight: 700;
    line-height: 69.92px;
    text-align: center;
}

main .third-forth .third .section{
    display: grid;
    grid-template-columns: 477px 477px;
    column-gap: 50px;
    row-gap: 20px;
}

main .third-forth .third .section .box{
    background-color: #FFFFFF;
    border-radius: 58px;
    box-shadow: 0px 14px 24px -5px #E0C3CD;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 15px 20px;
}

main .third-forth .third .section .box .imgbg{
    width: 78px;
    height: 81px;
    border-radius: 55px;
    margin-right: 20px;
}

main .third-forth .third .section .box .imgbg1{
    background: linear-gradient(180deg, #9492EA -7.33%, rgba(41, 6, 255, 0.76) 134.63%);
}
main .third-forth .third .section .box .imgbg2{
    background: linear-gradient(180deg, #FF7A00 -7.33%, rgba(255, 75, 3, 0.902198) 58.15%, rgba(255, 6, 6, 0.76) 134.63%);
}
main .third-forth .third .section .box .imgbg3{
    background: linear-gradient(180deg, #E69BD1 -7.33%, rgba(255, 0, 184, 0.9) 121.5%);
}
main .third-forth .third .section .box .imgbg4{
    background: linear-gradient(180deg, #91FF6A -7.33%, rgba(11, 127, 36, 0.9) 132.88%);
}

main .third-forth .third .section .box:nth-child(1) img{
    width: 150px;
    margin-top: -35px;
    margin-left: -35px;
}
main .third-forth .third .section .box:nth-child(2) img{
    margin-left: 17px;
    margin-top: 10px;
    width: 45px;
}
main .third-forth .third .section .box:nth-child(3) img{
    margin-top: 10px;
    margin-left: 6px;
}
main .third-forth .third .section .box:nth-child(4) img{
    margin-top: -20px;
    margin-left: -23px;
    width: 125px;
}

main .third-forth .third .section .text h3{
    font-family: 'NATS';
    font-size: 33.75px;
    font-weight: 400;
    line-height: 36.87px;
    margin: 0;
}

main .third-forth .third .section .text h6{
    font-family: 'NATS';
    font-size: 22.5px;
    font-weight: 400;
    line-height: 24.5px;
    color: #9A9797;
    margin: 0;
}

main .third-forth .forth{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

main .third-forth .forth .text{
    width: 100%;
}

main .third-forth .forth .text h2{
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    text-align: center;
}

main .third-forth .forth .text img{
    display: inline-block;
    position: relative;
    top: 150px;
    left: 70%;
}

main .third-forth .forth .text h4{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #666666;
}

main .third-forth .forth .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

main .third-forth .forth .container .box{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: #FFF8F5;
    width: 250px;
    height: 175px;
    gap: 25px;
    border-radius: 8px;
    border: 2px solid #66666614;
}

main .third-forth .forth .container .box img{
    width: 40px;
}

main .third-forth .forth .container .box h5{
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 25.5px;
    color: #222222;
    margin: 0;
}

main .third-forth .forth .container .box p{
    color: #666666;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.5px;
    margin: 0;
}
