body{
    margin: 0;
    font-family: 'Roboto','Abhaya-libre', Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    top: 0;
    height: 100px;
    left: 0;
    right: 0;
    background-color: white;
    padding-right: 150px;
}

header h1{
    align-items: center;
    margin-left: 100px;
    margin-top: 10px;
}

header .flight-icon{
    width: 30px;
}

header .navigator{
    display: grid;
    grid-template-columns: 510px 270px 120px;
    text-align: center;
}

header .navbar{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    font-family: 'abhaya-libre','Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 22.61px;
    color: #212832;
}

header .navbar div{
    text-align: center;
    line-height: 26.68px;
    margin: auto;
}

header .login-signup{
    display: grid;
    grid-template-columns: 120px 140px;
    gap: 10px;
    font-family: 'abhaya-libre','Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 22.61px;
    color: #212832;
    line-height: 26.68px;

}

header .login-signup .log{
    margin: auto;
}

header .login-signup .sign{
    border: 1px solid #212832;
    padding: 12px 30px;
    margin: 0;
    border-radius: 6.65px;
}

header select{
    color: #212832;
    border: none;
    font-size: 22.61px;
    line-height: 26.68px;
    margin-left: 55px;
    z-index: 1;
}

main .first{
    width: 100%;
    margin-top: 100px;
    height: calc(100vh - 100px);
    background-color: #f2f2f2;
    background-image: url(./images/background.jpg);
    background-position: 0px 0px 0px;
}

main .first .first-section{
    background-image: linear-gradient(to top, rgb(255,255,255,1)1%,rgb(255,255,255,0)15%);
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .first .first-section .top{
    width: 100%;
    margin: 0;
    text-align: center;
}

main .first .first-section .top h2{
    color: #FFC46B;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 40.5px;
}

main .first .first-section .top h1{
    line-height: 104.8725px;
    font-size: 96px;
    font-weight: 400;
    font-family: 'Alatsi', Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

main .first .interact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

main .first .interact button{
    background-color: #FFC107;
    border: none;
    border-radius: 13.3px;
    font-size: 30px;
    line-height: 38.4px;
    text-align: center;
    padding: 27px 45px;
    color: #FFFFFF;
}

main .first .interact button img{
    width: 15px;
    height: 22.5px;
}

main .first .interact .searchbar{
    margin-left: 30px;
    border: none;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 40px;
    background-image: linear-gradient(to top,#0075FFEB 1%,#6F8BF0 100%);
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    
}

main .first .interact .searchbar input[type="search"]{
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 27px 45px;
    outline: none;
    width: 400px;
}

main .first .interact .searchbar .searchbtn{
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    margin-top: 10px;
    margin-right: 40px;
}

main .first .interact .searchbar .searchbtn img{
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 50%;
}

main .first .interact input::placeholder{
    color: #FFFFFF;
}

main .first .interact input{
    border: none;
}